/* 
@primario: #26a5d3;
@oscuro: #333333;
@luz: #f4f4f4;
@verde: #6fbb10; */

html{
	scroll-behavior: smooth;
	width: 100%;
	
}

body{

	width: 100%;
	height: 100%;
	font-family: "Montserrat-SemiBold", "Helvetica Neue", Arial, Helvetica, sans-serif !important;
	color: #333333;
	background-color: #f4f4f4;
}

@font-face {
    font-family: Montserrat-Semibold;
    src: url(../fonts/Montserrat-SemiBold.ttf);
}

@font-face {
    font-family: Montserrat-Bold;
    src: url(../fonts/Montserrat-Bold.ttf);
}

.color-amarillo{
	color: yellowgreen;
}

/* navegacion */

.navbar{
	padding: 10px 0;
	border-bottom: none;
	letter-spacing: 1px;
	background: rgba(0,0,0, 0.6) !important;
	-webkit-transition: background .5s ease-in-out, padding .5s ease-in-out;
	-moz-transition: background .5s ease-in-out, padding .5s ease-in-out;
	transition: background .5s ease-in-out, padding .5s ease-in-out;
	padding-right: 40px !important;
	padding-left: 40px !important;
}


navbar-brand{
	font-weight: 700;
}

navbar-brand:focus{
	outline: none;
}

.navbar-burger:active, .navbar-burger:hover, .navbar-burger:focus{
	color: #f4f4f4;
}

.navbar-personalizada a{
	color: #f4f4f4;
}

.navbar-menu{
	background: rgba(0,0,0, 0,4) !important;
	background-color: unset !important;
	box-shadow: unset !important;
	
}

.navbar-end .navbar-item{
	-webkit-transition: background .3s ease-in-out;
	-moz-transition: background .3s ease-in-out;
	transition: background .3s ease-in-out;
	

}

.navbar-item:hover,
.navbar-item:focus,
.navbar-item:active
{
	outline: none !important;
	background-color: rgba(255, 255, 255, 0.4) !important;
	color: #f4f4f4 !important;

}

.navbar-burger{
	padding: 4px 6px;
	font-size: 16px;
	color: #f4f4f4;
}

.navbar-burger:focus,
.navbar-burger:active{	
	outline: none;
}

.colapsar-nav{
	padding: 0;
	background-color:  #333333;
	background: rgba(0,0,0, 1) !important;
}


/* Tipografía */

h1, h2, h3, h4, h5, h6{
	margin: 20px 0 35px;
	text-transform: uppercase;
	font-family: "Montserrat-SemiBold", "Helvetica Neue", Arial, Helvetica, sans-serif;
	letter-spacing: 1px;
}

p{
	margin: 0 0 25px;
	font-size: 18px;
	line-height: 1.6em;
}

a{
	color: #26a5d3;
}

a:hover, a:focus{
	text-decoration: none;
	color: oscuroen(#26a5d3, 20%);
}

#intro{
	width: 100%;
	height: 400px;
	text-align: center;
	color: #f4f4f4; 
	background: url(../img/deportes2.jpg) no-repeat bottom center scroll;
	background-color:#333333;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
}

.cuerpo{
	margin-top: 90px;
}

.texto-bienvenidos{
	font-size: 40px;
	background: rgba(0,0,0, 0.6);
}

.texto{
	font-size: 18px;
	
	background: rgba(0,0,0, 0.6);
	background-size: 50%;
	margin-left: 12px;
}

@media(min-width:767px){
	
	#intro{
		height: 600px;
		padding: 0;
	}

	.texto-bienvenidos{
		font-size: 50px;
		background: rgba(0,0,0, 0.6);
	}

	.texto{
		font-size: 20px;
	}

	.container-carousel{
		max-width: 700px;
	}

	.colapsar-nav{
		padding: 0;
		background-color:  #333333;
		background: rgba(0,0,0, 1) !important;
	}

}


@media(min-width:992px){
	
	#intro{
		height: 600px;
		padding: 0;
	}

	.texto-bienvenidos{
		font-size: 70px;
		background: rgba(0,0,0, 0.6);
	}

	.texto{
		font-size: 25px;
	}

	.container-carousel{
		max-width: 800px;
	}

	.colapsar-nav{
		padding: 0;
		background-color:  #333333;
		background: rgba(0,0,0, 1) !important;
	}


}

#empresa{
	text-align: center;
	padding: 20px;
	margin-bottom: 60px;
}    

#empresa h2{
	font-size: 25px;
	font-weight: bold !important;
	font-family: "Montserrat-SemiBold", "Helvetica Neue", Arial, Helvetica, sans-serif !important;
}

.cuadrado{
	max-width: 500px;
	max-height: 400px;
	
}

.columns{

	display: flex;
	justify-content: center;
	align-items: center;
	justify-content: center;
    margin-right: unset !important;
}

.column{
	align-items: center;
}

#servicios{
	text-align: center;
	padding-left: 12px;
    padding-top: 40px;
	color: #f4f4f4;
	background-color: #6fbb10;
    background:  #6fbb10;
	background: -moz-linear-gradient(top,  #6fbb10 23%,  #6fbb10 23%,  #6fbb10 29%,  #6fbb10 36%,  #6fbb10 55%,  #6fbb10 55%, green 100%);
    background: -webkit-linear-gradient(top,  #6fbb10 23%, #6fbb10 23%, #6fbb10 29%, #6fbb10 36%, #6fbb10 55%, #6fbb10 55%, green 100%);
    background: linear-gradient(to bottom,  #6fbb10 23%, #6fbb10 23%, #6fbb10 29%, #6fbb10 36%, #6fbb10 55%, #6fbb10 55%, green 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='green', endColorstr='#6fbb10',GradientType=0 );
}    

#servicios h2, #servicios p, #servicios img{

	margin: 0 0 10px 0;
	padding: 0;
	font-size: 20px;
}

#white{
	color: #f4f4f4 !important;
	font-weight: 800 !important;
	font-size: 22px;
}

.imagen-demo{
	width: 100%;
	height: 100%;
}

.carousel img{
	border-radius: 25px !important;
	
}

#clientes{
	text-align: center;
	padding-left: 12px;
	margin-top: 80px;
	margin-bottom: 80px;
}    

#contacto{
	text-align: center;
	padding-left: 12px;
	padding-top: 60px;
	padding-bottom: 60px;
	background-color: #333333;
	color: #f4f4f4;
}    


#clientes h2{
	font-weight: 800;
	font-size: 25px;
	font-family: "Montserrat-SemiBold", "Helvetica Neue", Arial, Helvetica, sans-serif !important;
	margin-bottom: 20px !important;
}

.botones-contacto a{
	margin: 8px !important;
}

i{
	padding-right: 7px;
}

#contacto h2{
	font-size: 20px;
	font-weight: bold;
	padding-bottom: 20px;
	font-family: "Montserrat-SemiBold", "Helvetica Neue", Arial, Helvetica, sans-serif !important;
}

@media(max-width:320px){
	
	#intro{
		height: 300px;
		padding: 0;
	}

	.texto-bienvenidos{
		font-size: 20px;
	}

	.texto{
		font-size: 15px;
	}

	.navbar{
		padding: 0;
		border-bottom: none;
		letter-spacing: 1px;
		background: black;
		-webkit-transition: background .5s ease-in-out, padding .5s ease-in-out;
		-moz-transition: background .5s ease-in-out, padding .5s ease-in-out;
		transition: background .5s ease-in-out, padding .5s ease-in-out;
		padding-right: 0 !important;
		padding-left: 0 !important;
	}

}

@media(max-width:576px){
	
	#intro{
		height: 300px;
			padding: 0;
	}
	
	.texto-bienvenidos{
		font-size: 20px;
	}
	
	.texto{
		font-size: 15px;
	}

	.navbar-burger{
	
		visibility: hidden;
	}

	.navbar{
		padding-left: 0px !important;
	}
}
