/* 
@primario: #26a5d3;
@oscuro: #333333;
@luz: #f4f4f4;
@verde: #6fbb10; */

html{
	scroll-behavior: smooth;
	width: 100%;
	
}

body{

	width: 100%;

	font-family: "Montserrat", "Helvetica Neue", Arial, Helvetica, sans-serif;
	color: #333333;
	background-color: #f4f4f4;
}

@font-face {
    font-family: Montserrat;
    src: url(../fonts/Montserrat-SemiBold.ttf);
}

.color-amarillo{
	color: yellowgreen;
}

/* Tipografía */

h1, h2, h3, h4, h5, h6{
	margin: 20px 0 35px;
	text-transform: uppercase;
	font-family: "Montserrat", "Helvetica Neue", Arial, Helvetica, sans-serif;
	letter-spacing: 1px;
}

p{
	margin: 0 0 25px;
	font-size: 18px;
	line-height: 1.6em;
}

a{
	color: #26a5d3;
}

a:hover, a:focus{
	text-decoration: none;
	color: oscuroen(#26a5d3, 20%);
}

#intro{
	display: table;
	width: 100%;
	height: auto;
	padding: 100px 0;
	text-align: center;
	color: #f4f4f4; 
	background: url(../img/futbol4.jpg) no-repeat bottom center scroll;
	background-color:#333333;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
}

#intro .cuerpo{
    display: table-cell;
    vertical-align: middle;	
    
}

.texto-bienvenidos{
	font-size: 40px;
}

.texto{
	font-size: 18px;
	background: rgba(0,0,0, 0.6);
}

@media(min-width:767px){
	
	#intro{
		height: 600px;
		padding: 0;
	}

	.texto-bienvenidos{
		font-size: 100px;
	}

	.texto{
		font-size: 25px;
	}

}

#empresa{
    text-align: center;
}    

.cuadrado{
	max-width: 300px;
	max-height: 300px;
	
}

.columns{

	display: flex;
	justify-content: center;
	align-items: center;
	justify-content: space-evenly;
    margin-right: unset !important;
}

@media(max-width:320px){
	
	#intro{
		height: 100%;
		padding: 0;
	}

	.texto-bienvenidos{
		font-size: 100px;
	}

	.texto{
		font-size: 25px;
	}

}
